.main-container{
    height: auto;
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.box-1{
    border: 2px solid red;
    height:2000px;
    width: 20%;
}
.box-2{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(auto,250px);
  
    height: auto;
    width: 80%;
}
.product-image{
    width: 285px;
}
.single-product{
    display: grid;
    justify-content: center;
  
}
.box1 input{
    padding: 100%;
}
