.container12{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    /* border: 1px solid red; */
    padding: 5px 60px 20px 60px;
}

.container12 img:first-child,
.container12 img:nth-child(2) {
  grid-column: span 2;
}

img {
    /* border: 1px solid red; */
    width: 100%;
    grid-column: span 1;
  }